{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "env": { "node": true },
    "plugins": [
      "@typescript-eslint"
    ],
    "extends": [
      "eslint:recommended",
      "plugin:@typescript-eslint/eslint-recommended",
      "plugin:@typescript-eslint/recommended"
    ], 
    "parserOptions": {
        "sourceType": "module",
        "project": "./tsconfig.json" // Path to your tsconfig.json
    },
    // "module.exports" : {
    //   "ignorePatterns": ["dev", "build", "npm", "node_modules", "npm node_modules"]
    // },
    "rules": {
      "no-unused-vars": "off",
      "@typescript-eslint/no-explicit-any": 0, // TODO/ think about it
      "@typescript-eslint/no-floating-promises": 1, // Enable this rule
      "@typescript-eslint/no-unused-vars": ["error", { "args": "none" }],
      "@typescript-eslint/ban-ts-comment": "off",
      "no-prototype-builtins": "off",
      "@typescript-eslint/no-empty-function": "off"
    } 
  }